body{
	background:url(https://pixabay.com/get/e831b00a2df0003ecd1f4404e54e479ee174ffd41cb5164994f5c979af/autumn-leaves-1415541.jpg);	
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
